.navbar {
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-box1 {
  height: 90%;
  width: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}

.navbar-box2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-box2 .navbar-element1 ul {
  display: flex;
  align-items: center;
}
.navbar-box2 .navbar-element1 ul li {
  margin-inline: 20px;
  list-style: none;
}
.navbar-element1 li {
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
  font-size: 15px;
  transition: 0.4s;
  cursor: pointer;
}
.navbar-element1 li:hover {
  color: rgb(255 92 0);
}

.navbar-box2 .navbar-element2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 24px;
}

.navbar-element2 .nav_btn {
  font-size: 16px;
  padding: 10px 22px;
  border-radius: 3px;
  margin-inline: 10px;
  letter-spacing: 1px;
  background-color: rgb(253 92 0);
  border: none;
  color: white;
  transition: 0.4s;
}

.nav_btn:hover {
  color: rgb(255 92 0);
  background-color: white;
  cursor: pointer;
}
